.service-image {
  height: 50px;
  width: 50px;
}
.example-card {
  height: 100%;
}
.chip {
  width: 150px;
}
.align-left {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img {
    max-width: 100%;
    width: auto\9;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}
